{% extends 'base.html' %}

{% block content %}
    <h2>О нас</h2>
    <div class="card">
        <div class="card-content">
            <p>HTML NOOBS — это платформа для начинающих веб-разработчиков, где вы можете изучить основы HTML, CSS и JavaScript. Наша миссия — сделать обучение веб-разработке доступным и увлекательным для всех!</p>
            <p>Мы предлагаем интерактивные уроки, практические примеры и сообщество, где вы можете задавать вопросы и делиться своими знаниями.</p>
        </div>
    </div>
{% endblock %}