{% extends 'base.html' %}

{% block content %}
    <h2>Контакты</h2>
    <div class="card">
        <div class="card-content">
            <p>Свяжитесь с нами, если у вас есть вопросы или предложения!</p>
            <ul>
                <li>Email: <a href="mailto:support@htmlnoobs.com">support@htmlnoobs.com</a></li>
                <li>Телефон: +7 (123) 123-45-67</li>
                <li>Адрес: г. Ростов-На-Дону</li>
            </ul>
            <p>Также вы можете следить за нашими обновлениями в социальных сетях:</p>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
{% endblock %}