{% extends 'base.html' %}

{% block content %}
    <h2>Регистрация</h2>
    {% if error %}
        <p class="red-text">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('register') }}">
        <div class="input-field">
            <input id="username" type="text" name="username" required>
            <label for="username">Имя пользователя</label>
        </div>
        <div class="input-field">
            <input id="password" type="password" name="password" required>
            <label for="password">Пароль</label>
        </div>
        <button type="submit" class="btn blue">Регистрация</button>
    </form>
{% endblock %}